body, input {
  font-family: "Open Sans", sans-serif;
}

.palette-primary-indigo .footer, .palette-primary-indigo .header {
  background: #2276ac;
}

.palette-primary-indigo .article table th {
  background-color: #ACCEF7;
}
